<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>{{ .Subject}}</title>
</head>

<body>
  <p>Hi, {{ .FirstName}}</p>

  <p>Follow this link below to confirm your email address. If you didn't create an account with <a href='{{.WebURL}}'>Heal.in</a>, you can safely delete this email.</p>

  <a href='{{.RedirectURL}}'>Klik</a> <br>

  <p>You received this email because we received a request for registration for your account. If you didn't request that registration into our service, you can safely delete this email.</p>
</body>

</html>